
@{
    ViewBag.Title = "DirectorDesk";
}
<style>
    .medical-card img {
        width: 100%;
        height: 500px !important
    }
</style>
<div class="page-banner-area bg-2">
    <div class="container">
        <div class="page-banner-content">
            <h1>Director Desk</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li>Director Desk</li>
            </ul>
        </div>
    </div>
</div>
<!--about us-->
<div class="campus-information-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="campus-content">
                    <div class="campus-title">
                        <h2>Director Desk</h2>
                        <p class="text-justify">As we stand on the threshold of a new academic session, I extend a hearty and warm welcome to all my Student ,teachers,staff and parents.each academic year is a new height scaled.,Another dream realized that new targets set for the future. Each member of this institution is developed to turning dreams and aspiration into reality  through sincerity and perseverance, we at Jiny Jony school always try to maintain the highest quality in academic standards and provide the most conductive environment for our students, holistic growth and development. We also strive to instil state the core values of Respect , integrity, compassion, and excellence in our students so that they can meet the  ever changing global challenges. our dedicated and highly qualified staff and teachers stand as extemporary role models for our students, thereby keeping the thoughts of our school shining bright.</p>
                        <p class="text-justify">Nelson Mandela rightly “Education is the most powerful weapon. You can use to change the world. If there is one thing that can be change. The world is that Education and Jiny and Jony is a parallel of formal education along with provided academic. We aspire to institute values, life, skills and habits that make our student stand out and make a different in society. At last education is a shared commitment between dedicate dedicated teachers, motivated student and enthusiastic parents with high expectations. We wish to thank all the parents for their faith in Jiny and Jony, play school for-kids .Let’s partner together so that we can see the children being successful in their path, they choose to tread.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="madical-care-content">
                    <div class="medical-card">
                        <img src="~/assets/demo-img/pricipal.jpeg" alt="Image">
                        <div class="content">
                            <h4>Mrs. Vidya Bakshi</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--about us end-->
